<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<footer class="bg-white hover:bg-fruitBlueDark text-center lg:text-left">
  <div class="text-gray-700 text-center p-4">
    © 2023 Proudly Presented By
    <p class="text-fruitBrown"><span class="px-2">Hilora Dewett</span> <span class="px-2">Ruilin Qi</span> <span class="px-2">Juntao Liu</span></p>
  </div>
</footer>
