<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<header>
    <!-- nav bar -->
<nav class="relative w-full flex flex-wrap items-center justify-between py-2 bg-gray-100 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg">
  <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
    <div class="container-fluid">
      <a class="flex items-center text-gray-900 hover:text-gray-900 focus:text-gray-900 mt-2 lg:mt-0 mr-1" href="#">
        <img src="../assets/fruitcart-logo.png" class="object-cover h-12 w-12 " alt="" loading="lazy" />
        <img src="../assets/fruitcart-logo2.png" class="object-cover h-12 w-12 " alt="" loading="lazy" />
      </a>
    </div>

    <% if (!user || user === undefined) { %>
    <div class="login">
      <a class="inline-block ml-auto mr-2 py-2 px-6 bg-gray-100 hover:bg-blue-300 hover:text-white text-lg text-gray font-bold rounded-xl transition duration-200 ease-in-out" href="/login">Log in</a>
      <a class="inline-block py-2 px-6 bg-blue-300 hover:bg-blue-500 text-lg text-white font-bold rounded-xl transition duration-200 ease-in-out" href="/signup">Sign up</a>
    </div>
    <% } else { %>
    <div class="login">
        <a class="inline-block ml-auto mr-3 py-2 px-6 bg-gray-200 hover:bg-blue-300 hover:text-white text-lg text-gray font-bold rounded-xl transition duration-200 ease-in-out" href="/favs">My Favs</a>
        <a class="inline-block ml-auto mr-3 py-2 px-6 bg-gray-200 hover:bg-blue-300 hover:text-white text-lg text-gray font-bold rounded-xl transition duration-200 ease-in-out" href="/cart">My Cart</a>
        <form action="/logout" method="POST" class="inline-block py-2 px-6 bg-red-300 hover:bg-red-500 text-lg text-white font-bold rounded-xl  transition duration-200 ease-in-out">
        <button type="submit" class="outline-0">Log out</button>
        </form>
      </div>
    <% } %>
  </div>
</nav>

    <!-- Nav ends here -->

</header>





