<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>

  <main>
    <section class="fruit-grid">
      <% for (let fruit of fruits) { %>
        <div class="fruit">
        <p class="fruit-header">
          <img src="<%= fruit.fruit_picture_url %>" alt="fruits"/>
          <h3 class="fruitName"><%= fruit.name %></h3>
        </p>
        <div class="price-container">
          <p class="fruitPrice">$<%= fruit.price %></p>
        </div>
        <p class="fruitDescription"><%= fruit.description %></p>
        <div class="button-container">
           <button class="moreInfo">More info</button>
          <button class="addToCart">Add to cart</button>
          <button class="addToCart">Favourite</button>
        </div>
        </div>
        <% } %>
    </section>
  </main>

  <footer>
    <p>footer</p>
  </footer>
</body>
</html>
