
// .bannerContainer {
//   background-color: #B2D1FF;
//   display: flex;
//   justify-content: space-between;
//   height:50vh;

//  }

//  .bannerTxt {
//    display: flex;
//    padding-left: 50px;
//  }

//  .bannerImg{
//    display: flex;
//    padding-right: 50px;
//  }

 .mainContainer {
   margin:100px;
 }

 .filtersSection {
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
 }

//  .fruitContainer {
//    display: grid;
//    grid-template-columns: repeat(3,1fr);
//    grid-gap: 2.5% 5%;
//    gap: 2.5% 5%;
//    margin-top:5%;
//  }

 .sellFruit {
   background-color: #FFF48D;
   color: #7E2F2F;
   padding: 16px;
   font-size: 1.2em;
   font-weight: 700;
   border: none;
   border-radius: 10px;
   cursor: pointer;
 }

 .sellFruit:hover {
   background-color: #DB6868;
   color: white;
 }

 /* Dropdown Button */
 .dropbtn {
   background-color: #d5e3f9;
   color: #613206;
   padding: 16px;
   font-size: 1.2em;
   border: none;
   border-radius: 10px;
   cursor: pointer;
 }

 /* Dropdown button on hover & focus */
 .dropbtn:hover, .dropbtn:focus {
   background-color: #B2D1FF;
 }

 .product {
   background-color: #ecedef;
   border: none;
   border-radius: 20px;
   /* padding:38px; */
 }

 .addToCart {
   background-color: #FFF48D;
   border:none;
   padding: 10px;
   border-radius: 0 0 20px 20px;
   color: #7E2F2F;
   font-weight: 700;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   transition: .4s ease-in-out;
   width: 100%;
 }

 .addToCart:hover {
   background-color: #DB6868;
   color: white;
 }

 .buttonContainer{
   display:flex;
   justify-content: end;
   gap:10px;
   padding: 10px 10px 0 0;
 }

 .fa-solid {
   color:#DB6868;
   font-size: 2em;
 }

 .fa-solid:hover {
   color:#7E2F2F;
 }

 .productImage {
   display: flex;
   justify-content: center;
 }

 /* Search button with Sort By */
 .searchBtn {
  background-color: #FFF48D!important;
  color: #7E2F2F;
  padding: 16px;
  font-size: 1.2em;
  font-weight:700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.searchBtn:hover {
  background-color: #DB6868!important;
  color: white;
}
/* Add button when user is customer */
.add_to_cart {
  background-color: #FFF48D;
  border:none;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  color: #7E2F2F;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: .4s ease-in-out;
  width: 100%;
}

.add_to_cart:hover {
  background-color: #DB6868;
  color: white;
}
 /* removeAll button */

.removeAll {
  background-color: #DB6868!important;
  color: #FFF!important;
  padding: 16px;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.removeAll:hover {
  background-color: #7E2F2F;
}

/* Custom Header */
.text-header-big{
  font-size: xx-large!important;

}
